### Basic numpy Tutorial

Before proceeding, we will revisit some of the **Python** syntaxes.

In [62]:
#lists
A = list(range(5))
A[3]

3

In [41]:
B = [str(a) for a in A]
B[3]

'3'

In [42]:
#we can also create heterogenous list (Python's dynamic typing)
L = [20, 'A', 45.9, False]
type(L)

list

In [26]:
type(L[3])

bool

In [64]:
A.append(2)
A

[0, 1, 2, 3, 4, 2, 2]

In [65]:
A.append(7)
A

[0, 1, 2, 3, 4, 2, 2, 7]

In [66]:
A.pop(4) #remove an element
A

[0, 1, 2, 3, 2, 2, 7]

In [69]:
A.remove(2) #remove 2 from A
A

[0, 1, 3, 7]

<hr/>

### numpy

In [70]:
import numpy as np

In [77]:
#numpy ndarrays (n-dimensional arrays)
A = np.arange(15)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [79]:
A.shape

(15,)

In [78]:
B = A.reshape(3, 5)
B

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [80]:
B.shape

(3, 5)

In [81]:
A.ndim

1

In [82]:
B.ndim

2

In [83]:
A.dtype.name

'int32'

In [84]:
B.dtype

dtype('int32')

In [85]:
A.itemsize

4

In [86]:
A.size

15

In [87]:
type(A)

numpy.ndarray

In [89]:
C = np.array([1,5,9])
C

array([1, 5, 9])

In [90]:
type(C)

numpy.ndarray

In [91]:
D = np.array([3, 4.5, 7, 8])

In [93]:
D.dtype.name

'float64'

In [94]:
#frequent error while coding
D = np.array(3, 4.5, 7, 8) #missing [] WRONG

TypeError: array() takes from 1 to 2 positional arguments but 4 were given

In [95]:
#transform sequences
A = np.array([(1,2.5,5), (3,4,5)])
A

array([[1. , 2.5, 5. ],
       [3. , 4. , 5. ]])

In [96]:
#also can specify type
B = np.array([ [1,3], [2,4]], dtype='int64')

In [98]:
B.dtype

dtype('int64')

In [99]:
#also complex array
C = np.array([ [1,3], [2,4]], dtype='complex')
C

array([[1.+0.j, 3.+0.j],
       [2.+0.j, 4.+0.j]])

In [100]:
C.dtype

dtype('complex128')

In [101]:
#functions to create arrays

A = np.zeros(5)
A

array([0., 0., 0., 0., 0.])

In [115]:
A = np.zeros([2,3])
A

array([[0., 0., 0.],
       [0., 0., 0.]])

In [108]:
A = np.ones([2,3,4], dtype=np.int64) #three dimensional array
A

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int64)

In [111]:
B = np.empty((3,4)) #uninitialised
B

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [121]:
#arange function to create a sequence of numbers
A = np.arange(0, 10, 1)
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [122]:
B = np.arange(0, 10, 2)
B

array([0, 2, 4, 6, 8])

In [123]:
C = np.arange(10, 0, -1)
C

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [125]:
D = np.arange(2, 5, 0.5)
D

array([2. , 2.5, 3. , 3.5, 4. , 4.5])

In [126]:
print(D)

[2.  2.5 3.  3.5 4.  4.5]

In [127]:
#loop through the elements
for i in range(len(D)):
    D[i] *= 2
    
print(D)

[4. 5. 6. 7. 8. 9.]

In [130]:
#operations
A = np.array([1,2,3,4])
B = np.ones(4)

print(A)
print(B)

[1 2 3 4]
[1. 1. 1. 1.]

In [137]:
C = A + B
C

array([2., 3., 4., 5.])

In [136]:
C = C + 5
C

array([12., 13., 14., 15.])

In [139]:
A = np.array( [[1,1],
               [0,1]] )
B = np.array( [[2,0],
               [3,4]] )

print(A)
print(B)

[[1 1]
 [0 1]]
[[2 0]
 [3 4]]

In [140]:
A * B #element wise product

array([[2, 0],
       [0, 4]])

In [141]:
A @ B #matrix product

array([[5, 4],
       [3, 4]])

In [142]:
A.dot(B) #another matrix product

array([[5, 4],
       [3, 4]])

In [144]:
np.dot(A,B) #another matrix product (I prefer this one)

array([[5, 4],
       [3, 4]])

In [153]:
rg = np.random.default_rng(1)     # create instance of default random number generator

A = np.ones((2,3), dtype=int)
B = rg.random((2,3))

In [154]:
print(A)
print(B)

[[1 1 1]
 [1 1 1]]
[[0.51182162 0.9504637  0.14415961]
 [0.94864945 0.31183145 0.42332645]]

In [156]:
A *= 3
A

array([[9, 9, 9],
       [9, 9, 9]])

In [157]:
B += A
B

array([[9.51182162, 9.9504637 , 9.14415961],
       [9.94864945, 9.31183145, 9.42332645]])

In [158]:
A += B                            # b is not automatically converted to integer type

UFuncTypeError: Cannot cast ufunc 'add' output from dtype('float64') to dtype('int32') with casting rule 'same_kind'

In [168]:
#another way of generating random numbers
#np.random.seed(10)
A = np.random.rand(4,5)*10
A

array([[5.42544368, 1.42170048, 3.7334076 , 6.74133615, 4.41833174],
       [4.34013993, 6.17766978, 5.13138243, 6.50397182, 6.01038953],
       [8.05223197, 5.21647152, 9.08648881, 3.19236089, 0.90459349],
       [3.00700057, 1.13984362, 8.28681326, 0.46896319, 6.26287148]])

In [169]:
A.sum()

95.52141195649185

In [170]:
A.max()

9.086488808086683

In [171]:
A.min()

0.46896319389249763

In [176]:
B = np.arange(12).reshape(3,4)
B

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [178]:
B.sum(axis=0) # sum of each column

array([12, 15, 18, 21])

In [179]:
B.sum(axis=1) #sum of each row

array([ 6, 22, 38])

In [180]:
np.sum(B, axis=1)

array([ 6, 22, 38])

In [181]:
B.min(axis=0)

array([0, 1, 2, 3])

In [183]:
B.cumsum(axis=1) # cumulative sum along each row

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]], dtype=int32)

In [188]:
B = np.arange(3)
B

array([0, 1, 2])

In [191]:
np.exp(B)

array([1.        , 2.71828183, 7.3890561 ])

In [190]:
np.sqrt(B)

array([0.        , 1.        , 1.41421356])

*numpy: Indexing, slicing, iterating*

In [195]:
A = np.arange(10)**2
A

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [196]:
A[2]

4

In [197]:
A[2:5]

array([ 4,  9, 16], dtype=int32)

In [198]:
# equivalent to a[0:6:2] = 1000;
# from start to position 6, exclusive, set every 2nd element to 1000
A[:6:2] = 1000

In [199]:
A

array([1000,    1, 1000,    9, 1000,   25,   36,   49,   64,   81],
      dtype=int32)

In [201]:
A[ : :-1]

array([  81,   64,   49,   36,   25, 1000,    9, 1000,    1, 1000],
      dtype=int32)

In [203]:
for i in A:
    print(i**2)

1000000
1
1000000
81
1000000
625
1296
2401
4096
6561

In [204]:
def foo(X, Y):
    return X*3 + Y

In [206]:
A = np.arange(6).reshape(2,3)
A

array([[0, 1, 2],
       [3, 4, 5]])

In [209]:
B = np.ones([2,3])

In [210]:
C = foo(A, B)
C

array([[ 1.,  4.,  7.],
       [10., 13., 16.]])

In [212]:
D = np.arange(30).reshape(5,6)
D

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [213]:
D[0:3,2]

array([ 2,  8, 14])

In [214]:
D[:4, :5]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10],
       [12, 13, 14, 15, 16],
       [18, 19, 20, 21, 22]])

In [216]:
D[-1] #last row

array([24, 25, 26, 27, 28, 29])

In [219]:
#iteration over rows

for i in D:
    print(i)  #done with respect to first axis

[0 1 2 3 4 5]
[ 6  7  8  9 10 11]
[12 13 14 15 16 17]
[18 19 20 21 22 23]
[24 25 26 27 28 29]

In [222]:
for j in D.flat: #iterate over all elements (row-major way)
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

*Shape manipulation*

In [228]:
np.random.seed(0)
A = np.floor(10*np.random.rand(3,4))
A

array([[5., 7., 6., 5.],
       [4., 6., 4., 8.],
       [9., 3., 7., 5.]])

In [229]:
A.shape

(3, 4)

In [231]:
A.ravel()  # returns the array, flattened

array([5., 7., 6., 5., 4., 6., 4., 8., 9., 3., 7., 5.])

In [232]:
A.reshape(6,2)  # returns the array with a modified shape

array([[5., 7.],
       [6., 5.],
       [4., 6.],
       [4., 8.],
       [9., 3.],
       [7., 5.]])

In [234]:
A.T  # returns the array, transposed

array([[5., 4., 9.],
       [7., 6., 3.],
       [6., 4., 7.],
       [5., 8., 5.]])

In [235]:
A.T.shape

(4, 3)

In [236]:
A.shape

(3, 4)

*The reshape function returns its argument with a modified shape, whereas the ndarray.resize method modifies the array itself:*

In [237]:
A.resize((2,6))

In [238]:
A

array([[5., 7., 6., 5., 4., 6.],
       [4., 8., 9., 3., 7., 5.]])

In [239]:
#If a dimension is given as -1 in a reshaping operation, the other dimensions are automatically calculated:
A.reshape(3,-1)

array([[5., 7., 6., 5.],
       [4., 6., 4., 8.],
       [9., 3., 7., 5.]])

*Stacking together different arrays*

In [245]:
A = np.arange(1,5).reshape(2,2)
A

array([[1, 2],
       [3, 4]])

In [247]:
B = np.zeros([2,2])
B

array([[0., 0.],
       [0., 0.]])

In [249]:
np.vstack((A, B))

array([[1., 2.],
       [3., 4.],
       [0., 0.],
       [0., 0.]])

In [250]:
np.hstack((A, B))

array([[1., 2., 0., 0.],
       [3., 4., 0., 0.]])

<hr/>

*Important: Copies and views*

In [251]:
A = np.array([[ 0,  1,  2,  3],
              [ 4,  5,  6,  7],
              [ 8,  9, 10, 11]])
B = A            # no new object is created
B is A           # a and b are two names for the same ndarray object

True

In [252]:
B

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [253]:
#Python passes mutable objects as references, so function calls make no copy.
def f(X):
    print(id(X))

In [254]:
id(A)

967871886000

In [256]:
f(A)

967871886000

In [257]:
f(B)

967871886000

In [261]:
#Different array objects can share the same data. 
#The view method creates a new array object that looks at the same data.
C = A.view()
C

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [264]:
C.base is a # c is a view of the data owned by a

False

In [265]:
C.flags.owndata

False

In [267]:
C = C.reshape((2, 6))    # a's shape doesn't change
A.shape

(3, 4)

In [270]:
C[0, 4] = 1234  # a's data changes
C

array([[   0,    1,    2,    3, 1234,    5],
       [   6,    7,    8,    9,   10,   11]])

In [271]:
A

array([[   0,    1,    2,    3],
       [1234,    5,    6,    7],
       [   8,    9,   10,   11]])

In [273]:
#Slicing an array returns a view of it:
S = A[:, 1:3]
S

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10]])

In [274]:
S[:] = 10
S

array([[10, 10],
       [10, 10],
       [10, 10]])

In [275]:
A

array([[   0,   10,   10,    3],
       [1234,   10,   10,    7],
       [   8,   10,   10,   11]])

In [276]:
#Deep Copy
D = A.copy() # a new array object with new data is created
D

array([[   0,   10,   10,    3],
       [1234,   10,   10,    7],
       [   8,   10,   10,   11]])

In [277]:
id(A)

967871886000

In [278]:
id(D)

967871885600

In [279]:
D is A

False

In [281]:
D.base is A # d doesn't share anything with a

False

In [282]:
D[0,0] = 9999
D

array([[9999,   10,   10,    3],
       [1234,   10,   10,    7],
       [   8,   10,   10,   11]])

In [283]:
A

array([[   0,   10,   10,    3],
       [1234,   10,   10,    7],
       [   8,   10,   10,   11]])

In [285]:
A = np.arange(int(1e8))
A

array([       0,        1,        2, ..., 99999997, 99999998, 99999999])

In [286]:
B = A[:100].copy()
B

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [287]:
del A

In [288]:
A

NameError: name 'A' is not defined