### Basic numpy Tutorial

Before proceeding, we will revisit some of the **Python** syntaxes.

In [2]:
#lists
A = list(range(5)) #0,1,2,3,4
A

[0, 1, 2, 3, 4]

In [5]:
A[3]

3

In [8]:
B = [str(a) for a in A]
B[3]

5

In [12]:
B = []
for a in A:
    B.append(str(a))
B

['0', '1', '2', '3', '4']

In [13]:
#we can also create heterogenous list (Python's dynamic typing)
L = [20, 'A', 45.9, False]
type(L)

list

In [14]:
type(L[3])

bool

In [15]:
A.append(2)
A

[0, 1, 2, 3, 4, 2]

In [16]:
A.append(7)
A

[0, 1, 2, 3, 4, 2, 7]

In [17]:
A.pop(4) #remove an element from index 4
A

[0, 1, 2, 3, 2, 7]

In [21]:
A.append(2)
A.remove(2) #remove 2 from A
A

[0, 1, 3, 7]

<hr/>

### numpy

In [23]:
import numpy as np #full package

#from numpy import random #submodule
#from numpy.random import rand #function

In [30]:
#numpy ndarrays (n-dimensional arrays)
A = np.arange(15)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [31]:
print(type(A))

<class 'numpy.ndarray'>

In [28]:
A.shape

(15,)

In [29]:
B = A.reshape(3, 5)
B

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [32]:
B.shape

(3, 5)

In [34]:
A.ndim #number of dimensions in A

1

In [35]:
B.ndim #number of dimensions in B

2

In [36]:
A.dtype.name

'int32'

In [37]:
B.dtype

dtype('int32')

In [39]:
A.itemsize #4-byte each element

4

In [40]:
A.size

15

In [41]:
type(A)

numpy.ndarray

In [42]:
C = np.array([1,5,9])
C

array([1, 5, 9])

In [43]:
type(C)

numpy.ndarray

In [44]:
D = np.array([3, 4.5, 7, 8])

In [45]:
D.dtype.name

'float64'

In [48]:
#frequent error while coding
D = np.array(3, 4.5, 7, 8) #missing [] WRONG

TypeError: array() takes from 1 to 2 positional arguments but 4 were given

In [49]:
#transform sequences: sequences in Python are those bracketed with ()
A = np.array([(1,2.5,5), (3,4,5)])
A

array([[1. , 2.5, 5. ],
       [3. , 4. , 5. ]])

In [51]:
A.dtype.name

'float64'

In [54]:
#also can specify type
B = np.array([ [1,3], [2,4]], dtype='int64')

In [53]:
B.dtype

dtype('int64')

In [55]:
#also complex array
C = np.array([ [1,3], [2,4]], dtype='complex')
C

array([[1.+0.j, 3.+0.j],
       [2.+0.j, 4.+0.j]])

In [56]:
C.dtype

dtype('complex128')

In [57]:
#functions to create arrays

A = np.zeros(5)
A

array([0., 0., 0., 0., 0.])

In [58]:
A = np.zeros([2,3])
A

array([[0., 0., 0.],
       [0., 0., 0.]])

In [60]:
A = np.ones([2,3,4], dtype=np.int64) #three dimensional array: there are two 3*4 arrays
A

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int64)

In [62]:
B = np.empty((3,4)) #uninitialised: int a; print("%d",a);
B

array([[3.53428540e-312, 3.16202013e-322, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 5.99429982e-066, 1.06149285e-046,
        9.32217460e+164],
       [2.09035761e-076, 8.69345893e-071, 3.69627206e-033,
        1.64858489e+185]])

In [66]:
#arange function to create a sequence of numbers
A = np.arange(0, 10, 1) #start with 0, end at 10, skip by 1
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [67]:
B = np.arange(0, 10, 2) #start with 0, end at 10, skip by 2
B

array([0, 2, 4, 6, 8])

In [68]:
C = np.arange(10, 0, -1) 
C

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [69]:
D = np.arange(2, 5, 0.5)
D

array([2. , 2.5, 3. , 3.5, 4. , 4.5])

In [72]:
print(B)

[0 2 4 6 8]

In [73]:
#loop through the elements
for i in range(len(D)):
    D[i] *= 2
    
print(D)

[4. 5. 6. 7. 8. 9.]

In [74]:
E = D*2
print(E)

[ 8. 10. 12. 14. 16. 18.]

In [75]:
#operations
A = np.array([1,2,3,4])
B = np.ones(4)

print(A)
print(B)

[1 2 3 4]
[1. 1. 1. 1.]

In [76]:
C = A + B
C

array([2., 3., 4., 5.])

In [77]:
C = C + 5
C

array([ 7.,  8.,  9., 10.])

In [78]:
A = np.array( [[1,1],
               [0,1]] )
B = np.array( [[2,0],
               [3,4]] )

print(A)
print(B)

[[1 1]
 [0 1]]
[[2 0]
 [3 4]]

In [80]:
A * B #element wise product - dot product

array([[2, 0],
       [0, 4]])

In [82]:
A @ B #matrix product

array([[5, 4],
       [3, 4]])

In [83]:
A.dot(B) #another matrix product

array([[5, 4],
       [3, 4]])

In [84]:
np.dot(A,B) #another matrix product (I prefer this one)

array([[5, 4],
       [3, 4]])

In [85]:
rg = np.random.default_rng(1)     # create instance of default random number generator

A = np.ones((2,3), dtype=int)
B = rg.random((2,3))

In [86]:
print(A)
print(B)

[[1 1 1]
 [1 1 1]]
[[0.51182162 0.9504637  0.14415961]
 [0.94864945 0.31183145 0.42332645]]

In [87]:
A *= 3
A

array([[3, 3, 3],
       [3, 3, 3]])

In [90]:
B += A
B

array([[6.51182162, 6.9504637 , 6.14415961],
       [6.94864945, 6.31183145, 6.42332645]])

In [91]:
A += B   # b is not automatically converted to integer type

UFuncTypeError: Cannot cast ufunc 'add' output from dtype('float64') to dtype('int32') with casting rule 'same_kind'

In [98]:
#another way of generating random numbers
#np.random.seed(10)
A = np.random.rand(4,5)*10
A

array([[5.42544368, 1.42170048, 3.7334076 , 6.74133615, 4.41833174],
       [4.34013993, 6.17766978, 5.13138243, 6.50397182, 6.01038953],
       [8.05223197, 5.21647152, 9.08648881, 3.19236089, 0.90459349],
       [3.00700057, 1.13984362, 8.28681326, 0.46896319, 6.26287148]])

In [99]:
A.sum()

95.52141195649185

In [100]:
A.max()

9.086488808086683

In [101]:
A.min()

0.46896319389249763

In [102]:
B = np.arange(12).reshape(3,4)
B

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [103]:
B.sum(axis=0) # sum of each column (sum by rows)

array([12, 15, 18, 21])

In [104]:
B.sum(axis=1) #sum of each row (sum by columns)

array([ 6, 22, 38])

In [105]:
np.sum(B, axis=1)

array([ 6, 22, 38])

In [106]:
B.min(axis=0)

array([0, 1, 2, 3])

In [107]:
B

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [108]:
B.cumsum(axis=1) # cumulative sum along each row

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]], dtype=int32)

In [109]:
B = np.arange(3)
B

array([0, 1, 2])

In [110]:
np.exp(B)

array([1.        , 2.71828183, 7.3890561 ])

In [111]:
np.sqrt(B)

array([0.        , 1.        , 1.41421356])

*numpy: Indexing, slicing, iterating*

In [112]:
A = np.arange(10)**2
A

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [113]:
A[2]

4

In [114]:
A[2:5]

array([ 4,  9, 16], dtype=int32)

In [115]:
# equivalent to a[0:6:2] = 1000;
# from start to position 6, exclusive, set every 2nd element to 1000
A[:6:2] = 1000

In [116]:
A

array([1000,    1, 1000,    9, 1000,   25,   36,   49,   64,   81],
      dtype=int32)

In [117]:
A[ : :-1]

array([  81,   64,   49,   36,   25, 1000,    9, 1000,    1, 1000],
      dtype=int32)

In [118]:
for i in A:
    print(i**2)

1000000
1
1000000
81
1000000
625
1296
2401
4096
6561

In [119]:
def foo(X, Y):
    return X*3 + Y

In [120]:
A = np.arange(6).reshape(2,3)
A

array([[0, 1, 2],
       [3, 4, 5]])

In [121]:
B = np.ones([2,3])

In [ ]:
C = foo(A, B)
C

In [ ]:
D = np.arange(30).reshape(5,6)
D

In [ ]:
D[0:3,2]

In [ ]:
D[:4, :5]

In [ ]:
D[-1] #last row

In [ ]:
#iteration over rows

for i in D:
    print(i)  #done with respect to first axis

In [122]:
for j in D.flat: #iterate over all elements (row-major way)
    print(j)

4.0
5.0
6.0
7.0
8.0
9.0

*Shape manipulation*

In [ ]:
np.random.seed(0)
A = np.floor(10*np.random.rand(3,4))
A

In [ ]:
A.shape

In [ ]:
A.ravel()  # returns the array, flattened

In [ ]:
A.reshape(6,2)  # returns the array with a modified shape

In [ ]:
A.T  # returns the array, transposed

In [ ]:
A.T.shape

In [ ]:
A.shape

*The reshape function returns its argument with a modified shape, whereas the ndarray.resize method modifies the array itself:*

In [ ]:
A.resize((2,6))

In [ ]:
A

In [ ]:
#If a dimension is given as -1 in a reshaping operation, the other dimensions are automatically calculated:
A.reshape(3,-1)

*Stacking together different arrays*

In [123]:
A = np.arange(1,5).reshape(2,2)
A

array([[1, 2],
       [3, 4]])

In [124]:
B = np.zeros([2,2])
B

array([[0., 0.],
       [0., 0.]])

In [125]:
np.vstack((A, B))

array([[1., 2.],
       [3., 4.],
       [0., 0.],
       [0., 0.]])

In [126]:
np.hstack((A, B))

array([[1., 2., 0., 0.],
       [3., 4., 0., 0.]])

<hr/>

*Important: Copies and views*

In [ ]:
A = np.array([[ 0,  1,  2,  3],
              [ 4,  5,  6,  7],
              [ 8,  9, 10, 11]])
B = A            # no new object is created
B is A           # a and b are two names for the same ndarray object

In [ ]:
B

In [ ]:
#Python passes mutable objects as references, so function calls make no copy.
def f(X):
    print(id(X))

In [ ]:
id(A)

In [ ]:
f(A)

In [ ]:
f(B)

In [ ]:
#Different array objects can share the same data. 
#The view method creates a new array object that looks at the same data.
C = A.view()
C

In [ ]:
C.base is a # c is a view of the data owned by a

In [ ]:
C.flags.owndata

In [ ]:
C = C.reshape((2, 6))    # a's shape doesn't change
A.shape

In [ ]:
C[0, 4] = 1234  # a's data changes
C

In [ ]:
A

In [ ]:
#Slicing an array returns a view of it:
S = A[:, 1:3]
S

In [ ]:
S[:] = 10
S

In [ ]:
A

In [ ]:
#Deep Copy
D = A.copy() # a new array object with new data is created
D

In [ ]:
id(A)

In [ ]:
id(D)

In [ ]:
D is A

In [ ]:
D.base is A # d doesn't share anything with a

In [ ]:
D[0,0] = 9999
D

In [ ]:
A

In [ ]:
A = np.arange(int(1e8))
A

In [ ]:
B = A[:100].copy()
B

In [ ]:
del A

In [ ]:
A

*power of numpy*

In [146]:
#Vectorization

import time

n = 5000000
A = np.random.rand(n)
B = np.random.rand(n)

tic = time.time()
C = 0
for i in range(n):
    C += A[i] * B[i]
toc = time.time()
    
print(C)
print('Time taken:',(toc-tic)*1000,'ms')

tic = time.time()
C = np.sum(np.dot(A, B))
toc = time.time()
print(C)
print('Time taken:',(toc-tic)*1000,'ms')

1249184.9958775449
Time taken: 4817.401170730591 ms
1249184.9958774582
Time taken: 9.006500244140625 ms